body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 239, 63);
    height: 4000px;
    cursor: url('cursor.png'), auto;
}
header{
    z-index: 4;
    position: sticky;
    margin: 2vw;
}
section{
    display:grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
h1{
    font-size: 50px;
}
.head{
   color: rgb(36, 28, 255);
}
.head #myDiv{
    transform: rotate(-5deg);
}

.bag {
    width: 150px;
    height: 150px;
    margin-left: 35%;
    border-radius: 50%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    /*position: sticky; */
}

.view{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes appear{
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
}

.object img{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.comb{
    height: 300px;
    transform: rotate(30deg);
    position: absolute;
    left: 20%;
    bottom: -48%;
}
.comb:hover{
    transform: scale(1.2);
    transition: 1s;
}
.lip{
    height: 350px;
    transform: rotate(10deg);
    position: absolute;
    left: 25%;
    bottom: -55%;
}
.lip:hover{
    transform: scale(1.2);
    transition: 1s;
}
.pen{
    height: 250px;
    transform: rotate(30deg);
    position: absolute;
    left: 50%;
    bottom: -59%;
}
.pen:hover{
    transform: scale(1.2);
    transition: 1s;
}
.powder{
    height: 250px;
    transform: rotate(10deg);
    position: absolute;
    left: 37%;
    bottom: -40%;
}
.powder:hover{
    transform: scale(1.2);
    transition: 1s;
}
.sunglasses{
    height: 400px;
    transform: rotate(45deg);
    position: absolute;
    left: 55%;
    bottom: -44%;
}
.sunglasses:hover{
    transform: scale(1.2);
    transition: 1s;
}
.key{
    height: 200px;
    transform: rotate(45deg);
    position: absolute;
    left: 55%;
    bottom: -44%;
}
.key:hover{
    transform: scale(1.2);
    transition: 1s;
}
.wipe{
    height: 400px;
    transform: rotate(5deg);
    position: absolute;
    left: 35%;
    bottom: -85%;
}
.wipe:hover{
    transform: scale(1.2);
    transition: 1s;
}
.wallet{
    height: 350px;
    transform: rotate(-30deg);
    position: absolute;
    left: 15%;
    bottom: -75%;
}
.wallet:hover{
    transform: scale(1.2);
    transition: 1s;
}
