html, body {
    cursor: url('./cursor.png'), auto;
    /* margin: 50px; */
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 111, 0);
    font-size: 80px;
    width: 100vw;
}
#container {
    margin: 50px auto;
    box-sizing: border-box;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    gap: 15px;
}
.box {
    cursor: url('./cursor.png'), auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    transition: transform 0.3s;
    /* cursor: pointer; */
}
.box:hover {
    cursor: url('./cursor.png'), auto;
    transform: rotate(15deg);
}    
     