html, body {
    cursor: url('../images/cursor.png'), auto;
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 111, 0);
    font-size: 5vw; 
    width: 100vw;
}

#container {
    margin: 50px auto;
    box-sizing: border-box;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
    'box_00 box_01 box_02'
    'box_10 box_11 box_12'
    'box_20 box_21 box_22'
    'box_30 box_31 box_32'
    'box_40 . box_42';
    align-items: center;
    justify-items: center;
    gap: 15px;
}
.box {
    cursor: url('../images/cursor.png'), auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.box_00 {
    grid-area: box_00;
}

.box_01 {
    grid-area: box_01;
}

.box_02 {
    grid-area: box_02;
}

.box_10 {
    grid-area: box_10;
}

.box_11 {
    grid-area: box_11;
}

.box_12 {
    grid-area: box_12;
}

.box_20 {
    grid-area: box_20;
}

.box_21 {
    grid-area: box_21;
}

.box_22 {
    grid-area: box_22;
}

.box_30 {
    grid-area: box_30;
}

.box_31 {
    grid-area: box_31;
}

.box_32 {
    grid-area: box_32;
}

.box_40 {
    grid-area: box_40;
}

.box_42 {
    grid-area: box_42;
}

.box:hover {
    transform: rotate(15deg);
}

h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    color: rgb(201, 255, 24);
}

h5 {
    margin: 2cm;
    width: 80vw;
    font-size: 0.2rem;
    text-align: center;
    color: rgb(201, 255, 24);
}

@media (max-width: 768px) {
    h2 {
        font-size: 2vw;
    }

    h5 {
        margin: 1cm;
        font-size: 0.9rem;
    }

    .box {
        width: 200px;
        height: 200px;
    }
}