body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(102, 56, 39);
  cursor: url('cursor.png'), auto;
}
.icon {
  cursor: url('./cursor.png'), auto;
  z-index: 4;
  position: absolute;
  left: 2%;
  top: 5px;
  margin: 2vw;
  display: inline-block;
  position: relative;
}

#home {
  width: 100px;
  height: 100px;
  cursor: url('./cursor.png'), auto;
}

h3 {
  position: absolute;
  top: 110%; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px;
  background-color: rgb(102, 56, 39);
  color: rgb(206, 255, 28);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.icon:hover h3 {
  opacity: 1;
  visibility: visible;
  cursor: url('./cursor.png'), auto;
}
#deer1{
  width: 30%;
  position: absolute;
  left: 17%;
  top: 5%;
}
#deer2{
  width: 30%;
  position: absolute;
  right: 17%;
  top: 5%;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
 }
 .eye {
  width: 240px;
  height: 120px;
  background-color: whitesmoke;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #333;
}
.nose {
  width: 60px;
  height: 60px;
  background-color: rgb(173, 31, 31);
  position: absolute;
  top: 60%;
  left: 48%;
  border-radius: 50%;
}